<div align="right">
	<%= will_paginate @causes, :previous_label => "&laquo; Poprzednia", :next_label => "Następna &raquo;" %>
</div>	
<table class="table-list" id="table-causes">
	<tr>
		<th style="width:100px;"><%= cause_sortable 'categories.name', "Kategoria" %></th>
		<th style="width:100px;"><%= cause_sortable 'title', "Tytuł" %></th>
		<th style="width:100px;"><%= cause_sortable 'author', "Autor" %></th>
		<th><%= cause_sortable 'abstract', "Opis" %></th>
		<th style="width:100px;"><%= cause_sortable 'city', "Miasto" %></th>
		<th style="width:100px;"><%= cause_sortable 'local', "Adres" %></th>
		<th style="width:100px;"><%= cause_sortable 'district', "Dzielnica" %></th>
		<th style="width:100px;"><%= cause_sortable 'created_at', "Data" %></th>
		<th style="width:50px;"><%= cause_sortable 'views', "Wyświetleń" %></th>
		<th style="width:50px;"><%= cause_sortable 'likes', "Polubień "%></th>
		<th style="width:50px;">Protokół FalaPoa</th>
		<th style="width:90px;">Akcje</th>
	</tr>
	<% @causes.each do |cause| %>
		<tr id="cause-<%= cause.id %>">
			<td><%=h cause.category.name %></td>
			<td><%=h cause.title %></td>							
			<td><%=h cause.author %></td>
			<td><%= cause.abstract %></td>																									
			<td><%=h cause.city %></td>
			<td><%=h cause.local %></td>
			<td><%=h cause.district %></td>							
			<td><%=h cause.created_at %></td>
			<td><%=h cause.views %></td>
			<td><%=h cause.likes %></td>		
			<td><%=h cause.protocol %>																							
			<td>
				<%= link_to "<span>Zobacz na mapie</span>", cause.url, :class => "button button-normal", :target => "_blank" %>
			
				<% if current_user.level > 1 -%>
					<% if cause.is_rejected %>
						<%= link_to "<span>Akceptuj</span>", "/admin/accept_cause/#{cause.id}", :class => "button button-normal" %>
					<% else -%>
						<%= link_to "<span>Odrzuć</span>", "/admin/reject_cause/#{cause.id}", :class => "button button-normal" %>
					<% end -%>
					<%= link_to "<span>Aktualizuje polubienia</span>", "/admin/update_cause_likes/#{cause.id}", :class => "button button-normal" %>
				<% end -%>																			
			</td>						
		</tr>
	
	<% end %>					
</table>

<br />
<div align="right">
	<%= will_paginate @causes, :previous_label => "&laquo; Poprzednia", :next_label => "Następna &raquo;" %>
</div>
